/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #303030ff;
    background-alt: #56585dff;
    foreground:     #FFFFFFFF;
    selected:       #0077D3ff;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
